@import "@fontsource/poppins/400.css";
@import "@fontsource/poppins/600.css";
@import "@fontsource/poppins/700.css";
@import "@fontsource/poppins/800.css";
@import "@fontsource/montserrat/600-italic.css";

* {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
}

body {
  font-family: "Poppins", "Segoe UI", sans-serif;
}

.kpi-value {
  font-weight: 800;
}
